<h1>All Bookings</h1>

<table class="table table-striped">
  <thead>
    <tr>
    <th>Booking reference</th>
    <th>Description</th>
    <th>Venue</th>
    <th>Start Date</th>
    <th>Start Time</th>
    <th>End Date</th>
    <th>End Time</th>
    <th>Confirmed</th>
    <th></th>
    <th></th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.booking_reference %></td>
        <td><%= link_to booking.description, booking %></td>
        <td><%= booking.venue.name %></td>
        <td><%= booking.start_date %></td>
        <td><%= booking.end_date %></td>
        <td><%= booking.start_time %></td>
        <td><%= booking.end_time %></td>
        <% if booking.confirmed? %>
          <td>Yes</td>
        <% else %>
          <td>No</td>
        <% end %>
        <td><%= link_to 'Delete', booking, confirm: 'Are you sure?', method: :delete %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
