<h1>All Bookings</h1>

<table class="table table-striped">
  <thead>
    <tr>
    <th>Booking reference</th>
    <th>Description</th>
    <th>Venue</th>
    <th>Start Date</th>
    <th>Start Time</th>
    <th>End Date</th>
    <th>End Time</th>
    <th></th>
    <th></th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.booking_reference %></td>
        <td><%= booking.description %></td>
        <td><%= booking.venue.name %></td>
        <td><%= booking.start_date %></td>
        <td><%= booking.end_date %></td>
        <td><%= booking.start_time %></td>
        <td><%= booking.end_time %></td>
        <td><%= link_to 'Show', booking %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Booking', new_booking_path %>
