<h1>Listing venues</h1>

<table class="table table-striped">
  <thead>
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Description</th>
        <th>Venue Size</th>
        <th>Venue Category</th>
        <th>Contact no</th>
      </tr>
    </thead>
    <tbody>
        <% @venues.each do |venue| %>
            <tr>
                <td><%= venue.name %></td>
                <td><%= venue.location %></td>
                <td><%= venue.description %></td>
                <td><%= venue.venue_size %></td>
                <td><%= venue.venue_category %></td>
                <td><%= venue.contact_no %></td>
                <td><%= link_to 'Show', venue %></td>
                <td><%= link_to 'Edit', edit_venue_path(venue) %></td>
                <td><%= link_to 'Destroy', venue, confirm: 'Are you sure?', method: :delete %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<br />

<%= link_to 'New Venue', new_venue_path %>
