<div class="row">
  <div class="span12">
    <div class = "formheader">
      <h2>Venue Details</h2>
    </div>
    <p id="notice"><%= notice %></p>

    <p>
      <b>Name:</b>
      <%= @venue.name %>
    </p>

    <p>
      <b>Location:</b>
      <%= @venue.location %>
    </p>

    <p>
      <b>Description:</b>
      <%= @venue.description %>
    </p>

    <p>
      <b>Venue size:</b>
      <%= @venue.venue_size %>
    </p>

    <p>
      <b>Venue category:</b>
      <%= @venue.venue_category %>
    </p>

    <p>
      <b>Contact no:</b>
      <%= @venue.contact_no %>
    </p>
  </div>
</div>

<div class="spacer">
</div>

<div class="row">
  <div class="span12">
    <div class = "formheader">
      <h2>Make a Booking for this Venue</h2>
    </div>
    <div class="form">
      <%= render 'bookings/form' %>
    </div>
  </div>
</div>

<div class="spacer">
</div>


<div class="row">
  <div class="span12">
    <%= link_to 'Edit', edit_venue_path(@venue) %> |
    <%= link_to 'Delete', @venue, confirm: 'Are you sure?', method: :delete %> |
    <%= link_to 'Back', venues_path %>
  </div>
</div>
