<!DOCTYPE html>
<html>
<head>
  <title>Indabo.com</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navbar navbar-fixed-top">
 	<div class="navbar-inner">
    	<div class="container">
    		<nav>
    			<%= image_tag("indabo_header_logo.png", :alt => "Indabo") %>
        	</nav>
            <ul class="nav pull-right">
            	<li><%= link_to "Venues", venues_path %></li>
            	<li><%= link_to "Bookings", bookings_path %></li>
            	<li><%= link_to "Users", users_path %></li>
            </ul>
    	</div>
	</div>
</header>

<section class="notices">
  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>
</section>

<section class="container">
      <%= yield %>
</section>

</body>
</html>
